#myheader {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    border: dashed rgb(185, 29, 185)
    padding: 35px
}

body {
    background-color: rgb(129, 10, 97);
    padding:15px
    
}
p {
     border: groove #fe73d9 20px ;
     font-family: 'Courier New', Courier, monospace;
     color: #f9f9f9;
     margin: 35px;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: #0f0f11;
  }
  li {
    float: left;
  }

  li a, .dropbtn {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(176, 62, 157);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(245, 236, 236);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f3a4e7;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  a {
    display: block;
    padding: 8px;
    background-color: #0f0f11;
  }